accelerate
fastapi
gradio==3.23
httpx
markdown2[all]
nh3
numpy
prompt_toolkit>=3.0.0
pydantic
requests
rich>=10.0.0
sentencepiece
tokenizers>=0.12.1
transformers>=4.28.0,<4.29.0
uvicorn
datasets
apache_beam
omegaconf
pytorch-lightning==1.8.4.post0
diffusers==0.20.2
webdataset
einops
ninja
pymatting==1.1.8
tbb==2021.9.0
opencv-python
basicsr
timm
peft==0.4.0
fire
wandb
iopath
decord
fairscale
spacy
markupsafe==2.0.1
pycocoevalcap
flask
protobuf==3.20.3